<div class="payment description">{{ description }}</div>


{% if not logged_in %}
  <div class="payment">
    <div>
      <a href="/user/login?destination={{ path("<current>") }}" class="button tealish">{{ "Login" | t }}</a>
      <a href="/registration?destination={{ path("<current>") }}" class="button">{{ "Register" | t }}</a>
    </div>
  </div>
  {% else %}
  <div class="payment button">
    {{ button }}
  </div>
{% endif %}


{% if footer is not empty %}
  <div class="payment payment-message">{{ footer }}</div>
{% endif %}
