{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div class="page-title-holder">
    {{ title_prefix }}
    {% if title %}
        <h1{{ title_attributes.addClass('page-title', 'text-center') }}>{{ title }}</h1>
    {% endif %}
    {{ title_suffix }}

    {% if user.hasPermission('create job_posting content') %}
        <div class="text-center margin-vertical-1">
            <a href="{{ url('node.add',{'node_type' : 'job_posting'}) }}" class="action-button">{{ "Create a Job Posting" | t }}</a>
        </div>
    {% else %}
        <div class="text-center margin-vertical-1">
            <a href="/supporting-sponsor" class="action-button">{{ "Create a Job Posting" | t }}</a>
        </div>
    {% endif %}
</div>