{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
    'field__label'
  ]
%}

<div{{ attributes.addClass('field field--presenters') }}>
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  <div{{ attributes.addClass('field__items')}}>
    {% for item in items %}
      {% if loop.last %}
        <span{{ item.attributes.addClass('field__item attendee-name--small') }}>{{ item.content }}</span>
      {% else %}
        <span{{ item.attributes.addClass('field__item attendee-name--small') }}>{{ item.content }}</span><span class="separator">//<span>
      {% endif %}
    {% endfor %}
  </div>
</div>
