{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{% set attendee_title = content.field_title|render %}
{% set attendee_org = content.field_organization|render %}

<article{{ attributes.addClass('user__display--full') }}>

<div class="user__attendee-picture">{{ content.user_picture }}</div>

  <div class="user__attendee-name">
    <span class="first-name">{{ content.field_first_name }}</span>
    <span class="last-name">{{ content.field_last_name }}</span>
  </div>

  <div class="user__attendee-org">
    <span class="user-title">{{ content.field_title }}</span>
    {% if attendee_title and attendee_org %}
      <span class="separator"> // </span>
    {% endif %}
    <span class="user-org">{{ content.field_organization }}</span>
  </div>

  <div class="user__attendee-bio">{{ content.field_bio }}</div>

  <div class="user__attendee-social">{{ content.field_social_profile_links }}</div>
</article>
