{#
/**
 * @ingroup themeable
 */
#}

{%
    set classes = [
    'social-media-links--platforms',
    'platforms',
    appearance.orientation == 'h' ? 'inline horizontal' : 'vertical',
    'text-center',
    'grid-x',
]
%}

<div{{ attributes.addClass(classes) }}>
    {% for platform in platforms %}
        <span>
            <a href="{{ platform.url }}" {{ platform.attributes}} >
                {{ platform.element }}
            </a>

            {% if appearance.show_name %}
                {% if appearance.orientation == 'h' %}
                    <br />
                {% endif %}

                <span><a href="{{ platform.url }}" {{ link_attributes }}>{{ platform.name }}</a></span>
            {% endif %}
        </span>
    {% endfor %}
</div>
