<article{{ attributes.addClass('session__display--full') }}>
  <div{{ content_attributes }}>

  <div class="grid-x grid-margin-x">

    <div class="session__body cell small-order-2 medium-7 large-9">
      {{ content.body }}
      <div class="event-attachments">
        {% if content.field_session_slides|render|striptags|trim is not empty %}
          <div class="event-attachment--slides">
            <div class="field-label">{{ "Session Slides"|t }}</div>
            {{ content.field_session_slides }}
          </div>
        {% endif %}
        {% if content.field_session_presentation_video|render|striptags is not empty %}
          <div class="event-attachment--video">
            <div class="field-label">{{ "Presentation Video"|t }}</div>
            {{ content.field_session_presentation_video }}
          </div>
        {% endif %}
      </div>
    </div>

    {% if content.field_day|render|striptags|trim is not empty %}
    <div class="event-details__box event-details-box--summit cell medium-order-2 medium-5 large-3">
      <div class="event-details__field event-details__field--day">
        <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
        <span>{{ content.field_day }}</span>
      </div>
      <div class="event-details__field event-details__field--timeslot">
        <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
        <span>{{ content.field_timeslot }}</span>
      </div>
      <div class="event-details__field event-details__field--venue">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <span>{{ content.field_venue }}</span>
      </div>
      <div class="event-details__field event-details__field--topics">
        <span><i class="fa fa-tags" aria-hidden="true"></i></span>
        <span>{{ content.field_session_topics }}</span>
      </div>
      <div class="session__add_to_schedule field__add__to__schedule">
        {{ content.flag_add_to_schedule }}
      </div>
    </div>
    {% endif %}

  </div>

      {% if content.field_members|render|striptags|trim is not empty %}
      <div class="cell">
        <h2 class="callout section-callout">{{ "Presenters" | t }}</h2>
      </div>
      <div class="session__presenters">
        {{ content.field_members }}
      </div>
    {% endif %}


  </div>
</article>
