<article{{ attributes.addClass('session__display--teaser') }}>
  <div{{ content_attributes }}>
    <h2 {{ title_attributes.addClass('teaser-title session__title') }} >
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>

    <div class="event-details__box">
      {% if content.field_day|render|striptags|trim is not empty %}
        <div class="event-details__field event-details__field--day">
          <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span>{{ content.field_day }}</span>
        </div>
        <div class="event-details__field event-details__field--timeslot">
          <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
          <span>{{ content.field_timeslot }}</span>
        </div>
        <div class="event-details__field event-details__field--venue">
          <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
          <span>{{ content.field_venue }}</span>
        </div>
      {% endif %}
      <div class="event-details__field event-details__field--presenters">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span>{{ content.field_members }}</span>
      </div>
      <div class="event-details__field event-details__field--topics">
        <span><i class="fa fa-tags" aria-hidden="true"></i></span>
        <span>{{ content.field_session_topics }}</span>
      </div>
    </div>

    {{ content.body|render|striptags }}

    <div class="session__add_to_schedule field__add__to__schedule">
      {{ content.flag_add_to_schedule }}
    </div>

  </div>
</article>
