{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
    <div class="branding-wrapper grid-x align-middle">
        <div class="logo-wrapper auto">
            <a href="/" title="home">
                <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
            </a>
        </div>
        <div class="title-wrapper auto">
            <div class="title">{{ "BADCAMP 2019" | t}}</div>
            <div class="subtitle">
                <span class="location-date border-bottom-3 border-color-coral">{{ "October 2 - 5" | t }}</span>
                <span class="separator"> // </span>
                <span class="location">{{ "Berkeley, California" | t }}</span>
            </div>
        </div>
    </div>
{% endblock %}
