<article{{ attributes.addClass('training__display--sponsor-item') }}>
  <div{{ content_attributes }}>
    <h4 {{ title_attributes.addClass('sponsor-item-title training__title') }} >
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h4>

    <div class="event-details__box">
      {% if content.field_day|render|striptags|trim is not empty %}
        <div class="event-details__field event-details__field--day">
          <span><i class="fa fa-calendar" aria-hidden="true"></i></span>
          <span>{{ content.field_day }}</span>
        </div>
        <div class="event-details__field event-details__field--timeslot">
          <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
          <span>{{ content.field_timeslot }}</span>
        </div>
      {% endif %}
      <div class="event-details__field event-details__field--venue">
        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <span>{{ content.field_venue }}</span>
      </div>
      <div class="event-details__field event-details__field--skill-level">
        <span><i class="fa fa-star" aria-hidden="true"></i></span>
        <span>{{ content.field_skill_level }}</span>
      </div>
      <div class="event-details__field event-details__field--trainers">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span>{{ content.field_members }}</span>
      </div>
    </div>

    {{ content.body|render|striptags }}

    <div class="training__add_to_schedule field__add__to__schedule">
      {% if content.field_payment|render is not empty %}
        {{ content.field_payment }}
      {% else %}
        {{ content.flag_add_to_schedule }}
      {% endif %}
    </div>

  </div>
</article>
