<article{{ attributes.addClass('summit__display--teaser') }}>
  <h2 {{ title_attributes.addClass('summit__title') }} >
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>
  {{ content }}
</article>
